/* CSS variables from the medium post */


/* .btn {
    padding: 2rem 4rem;
    border: 2px solid var(--color, black);
    background: transparent;
    font-size: 0.6em;
    border-radius: 2px;
} */

/*on hover */

/* .btn:hover {
    cursor: pointer;
    background: var(--color, black);
    color: white;
} */

/* variations without variables*/

/* .btn.red {
    border-color: red
}

.btn.red:hover {
    background: red
} */

/* variants with variables */
/* declaring the different color btns */

/* .btn.red {
    --color: red
} */

/* .btn.blue {
    --color: blue
} */

/* .btn.green {
    --color: green
} */